/venv
venv
.idea
/.idea
.ipynb_checkpoints
/.ipynb_checkpoints
/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
.DS_Store
/.DS_Store
.idea/
notes
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
