### Safe map for Montréal citizens

#### Set up
- virtualenv -p /usr/bin/python3 venv
- source venv/bin/activate

#### Project organization
├── LICENSE
├── README.md          <- The top-level README for developers using this project.
├── data
│
├── models             <- Scripts to train models and then use trained models to make predictions 
│   ├── features.py       <- Scripts to turn raw data into features for modeling
│   ├── predict_model.py
│   └── train_model.py
├── notebooks          <- Jupyter notebooks. Naming convention is a number (for ordering),
│                         the creator's initials, and a short - delimited description, e.g.
│                         1.0-jqp-initial-data-exploration.
├── requirements.txt   <- The requirements file for reproducing the analysis environment, e.g.
│                         generated with pip freeze > requirements.txt
│── scripts 
│  
│── visualization  <- Scripts to create exploratory and results oriented visualizations
│   └── visualize.py
